body {
  background-color: black;
}

h1 {
  color: white;
  text-align: center;
  /*font-family: 'Helvetica Neue', Helvetica, sans-serif;*/
}

#myCanvas {
  background: gray;
  margin: auto;
  display: block;
  margin-top: 50px;
}
